<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beadhouse.dao.ActivityviewMapper">
  <resultMap id="BaseResultMap" type="com.beadhouse.domen.ActivityView">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="activedate" property="activedate" jdbcType="VARCHAR" />
    <result column="activeview" property="activeview" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List">
    id,activedate,activeview
  </sql>
   <select id="getActivityviewByActiveDate" parameterType="String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from table_activeview
    Where 
      activedate=#{activedate}
  </select>
  
   

</mapper>