<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beadhouse.dao.AdvertisingMapper">
  <resultMap id="BaseResultMap" type="com.beadhouse.domen.Advertising">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="background" property="background" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List">
    id, background
  </sql>
  
   <select id="selectAdvertising" parameterType="com.beadhouse.domen.Advertising" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from table_background
  </select>
  
</mapper>