<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beadhouse.dao.QuestMapper">
    <resultMap id="BaseResultMap" type="com.beadhouse.domen.Quest">
        <result column="questId" jdbcType="INTEGER" property="questId"/>
        <result column="quest" jdbcType="VARCHAR" property="quest"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
    </resultMap>
    <resultMap id="recordQuestResultMap" type="com.beadhouse.domen.RecordQuest">
        <result column="loginUserId" jdbcType="INTEGER" property="loginUserId"/>
        <result column="elderUserId" jdbcType="INTEGER" property="elderUserId"/>
        <result column="questId" jdbcType="INTEGER" property="questId"/>
    </resultMap>
    <sql id="Base_Column_List">
    questId, quest, sort
  </sql>
    <select id="getQuestList" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from Table_quest_list
        order by sort
    </select>

    <select id="getQuest" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from Table_quest_list where questId = #{questId,jdbcType=INTEGER}
  </select>

    <insert id="insertContact" parameterType="com.beadhouse.domen.Quest">
      insert into 
        Table_quest_list (
          quest, 
          sort 
          )
      values (
      #{quest,jdbcType=VARCHAR},
      #{sort,jdbcType=INTEGER}
      )
  </insert>

    <insert id="insertDefineQuest" useGeneratedKeys="true" keyProperty="defineQuestId"
            parameterType="com.beadhouse.domen.DefineQuest">
      insert into
        table_define_quest (
          defineQuest,
          createUserId,
          createDate
          )
      values (
      #{defineQuest,jdbcType=VARCHAR},
      #{createUserId,jdbcType=INTEGER},
      #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>

    <insert id="insertRecordQuest" parameterType="com.beadhouse.domen.RecordQuest">
      insert into
        table_record_quest (
          loginUserId,
          elderUserId,
          questId
          )
      values (
      #{loginUserId,jdbcType=INTEGER},
      #{elderUserId,jdbcType=INTEGER},
      #{questId,jdbcType=INTEGER}
      )
      ON DUPLICATE KEY UPDATE
                loginUserId=#{loginUserId,jdbcType=INTEGER},
                elderUserId=#{elderUserId,jdbcType=INTEGER},
                questId=#{questId,jdbcType=INTEGER}
  </insert>

    <select id="getRecordQuestList" parameterType="java.lang.Integer" resultMap="recordQuestResultMap">
        select *
        from table_record_quest
        WHERE loginUserId = #{loginUserId,jdbcType=INTEGER} AND elderUserId = #{elderUserId,jdbcType=INTEGER}
    </select>

</mapper>